/* Code for nav bar */
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: whitesmoke;
}

/* Code for links */
.logo {
    float: left;
}

.link {
    float: right;
}

.link a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

.landing{
    height: 15%;
    width: 100%;
    padding: 40px 40px;
}

.petText {
    float: left;
    width: 50%;
}

.petition {
    float: right;
    justify-content: center;
    width: 50%;
}

.progressBar {
 width: 90%;
 height: 30px;
 background-color: rgb(167, 165, 165);
 border-radius: 15px;
}

.nestedDiv {
    overflow: hidden;
}

.nestedDiv .bar {
background-color: rgba(255, 0, 0, 0.87);
height: 100%;
width: 0%;
}